// Colors
$white-color: #ffffff;
$black-color: #000000;
$blue-color: #0056ca;
$focus-color: #4d94fd;

// Font

:export {
    whitecolor: $white-color;
    bluecolor: $blue-color;
    focuscolor: $focus-color;
}
