@import "./variables.module";

.app {
    scrollbar-width: none;

    &.disabled {
        opacity: 0.6;
    }
}

::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}

html,
body,
#root,
.app {
    height: 100%;
}
